/* RESOLUCION GENERAL (MOBILE FIRST)*/
/*ESTILOS GENERALES*/
* {
	color:black;
	font-size:16px;
	font-family:Sans-serif;
}

html, body{
	margin:0;
	padding:0;
}

body {
	background-color:#9fae44;
	/*border-bottom: 12px solid brown;*/
}

.container {
	display: block;
	min-height:100%;
	margin: 0 auto;
	/*border-bottom: 5px solid gray;*/
}

/*Colores corporativos*/
.red {
	color: #a53329;
}

.verde {
	color: #9fae44;
}

/*HEADER PAGE*/
web-header {
	display:block;
	min-height: 20vh;
	/*border-bottom: 0.2px solid red;*/
}

#header {

}

header .logo, header .title, header .slogan{
	width: 100%;
}

.intro{
	width:90%;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	margin:0 auto;
	padding:15px 0 15px 0;
	margin-bottom:15px;
}

header .logo{
	padding:13px 0px 11px 0px;
	text-align:center;
}

header .logo img {
	width:30%;
	max-width:100px;
	background-color:#9fae44;
}

.intro .title{
	text-align:center;
	font-size:1.2rem;
	margin-bottom:5px;
}

.intro .slogan{
	color:white;
	text-align:center;
	font-size:0.9rem;
	font-style:italic;
}

/*MAIN PAGE*/
web-main {
	display:block;
	min-height: 75vh;
	/*border-bottom: 0.2px solid red;*/
}

#main > div {
	/*No parece funcionar sin absolute
	asi que lo ponemos y le damos la misma altura que al padre*/
  /*HEight necesita siempre ser absolute a no ser que sea un elemento flexbox ?? */
	display:block;
	height: 68%;
	/*border-bottom: 4px solid green;*/
	margin-bottom:15px;
}


/*Panels element*/
.panels {
	display:flex;
	flex-flow: column;
	align-items:center;
}

.panels article{
	width:75%;
	max-width:270px;
	background-color:transparent;
	margin-bottom: 10px;
}

.panels article img{
	width:100%;
	border:2px solid white;
	margin-bottom: -10px;
	margin-left:-2px;
}

.panels article h3{
	width: 100%;
	font-size:0.9rem;
	font-weight: bold;
	text-align: center;
}

/*Section element*/

.section-page {
	/*Flex en este padre influye en su comportamiento por defecto y no sucede como en el div padre*/

	/*por ejemplo parece no funcionar el margin 0 auto*/
	display:flex;
	flex-flow: column;
	width: 95%;
	margin:0 auto;
	height: 100%;
	min-height: 65%;
	border: 2px solid black;
}

.section-header{
	display:flex;
	flex-flow: column;
	align-items:center;
	text-align:center;
	height: 30%;
	border-bottom: 2px solid black;
	/*margin-top:-20px;*/
}

		.section-title{
			width:100%;
			font-size:1.2rem;
		}

		.section-description{
			width:100%;
			font-size:0.7rem;
			font-weight: bold;
			margin-top:-5px;
		}

.section-main {
	/*background-color: black;*/
	/*border: 2px solid yellow;*/

}

	.section-main .line1{
		height:2px;
		background-color:black;
		border:none;
		font-size:10px;
	} 

	.section-main .line2{
		height:2px;
		background-color:black;
		border:none;
		font-size:10px;
	} 	

	.horarios{
		background:white;
		border-collapse:collapse;
		width:100%;
		text-align:center;
	}

	.horarios tr:first-child{
		background:gray;
	}

	.horarios td{
		width:17%;		
		border:1px solid black;
		border-collapse:collapse;		
		padding-top:1.2vh;
		padding-bottom:1.2vh;
	}

	.horarios td:first-child{
		background:gray;
		width:15%;
	}

.section-aside {
	border-top: 2px solid black;
}

/*FOOTER PAGE*/
web-footer {
	display:block;
	clear:both;
	background-color: #000;
	/*border-bottom: 0.2px solid red;*/
	min-height:5vh;
}

#footer {
	/*background-color: purple;*/
	color:white;
	position:absolute;
	width:100%;
	background:black;
}

.footer-page{
}

@media only screen and (orientation: landscape){

}

@media only screen and (max-width: 480px) and (orientation: portrait){

	.section-header{
		/*margin-top: -25px;*/
		height: 30%;
		/*min-height: 200px;*/
	}

	.section-title{
		font-size:1.2rem;
	}

	.section-description{
		font-size:0.7rem;
		margin-top:-5px;
	}

	.section-main {
		height: 20%;
		/*background-color: black;*/
	}

	.horarios td{
		font-size:0.5rem;
	}

}

@media only screen and (max-width: 480px) and (orientation: landscape){

}

/* RESOLUCION MAS DE 480px */
@media only screen and (min-width: 481px) {
	/*ESTILOS GENERALES*/

	/*HEADER PAGE*/
	.intro{
		width:96%;
		border-top: 2.5px solid black;
		border-bottom: 2.5px solid black;
		margin:0 auto;
		padding:10px 0 10px 0;
		margin-bottom:30px;
	}

	header .logo img {
		width:45%;
		max-width:120px;
	}

	.intro .title{
		text-align:center;
		font-size:1.2rem;
		margin-bottom:5px;
	}

	.intro .slogan{
		color:white;
		text-align:center;
		font-size:1rem;
	}

	/*MAIN PAGE*/
	.panels {
		flex-flow: row wrap;
		justify-content: space-between;
		margin-left:7.5%;
		margin-right:7.5%;
	}

	.panels article{
		width:46%;
		background-color:transparent;
		max-width:400px;
	}

	.panels article span{
		font-size:2.45vw;
	}

	.section-header{
		/*margin-top: -35px;*/
		height: 16%;
	}

	.section-title{
		font-size:1.8rem;
	}

	.section-description{
		width:100%;
		font-size:0.9rem;
		font-weight: bold;
		margin-top:-5px;
	}


	/*FOOTER PAGE*/


}

/* RESOLUCION MAS DE 768px */
@media only screen and (min-width: 769px){

	/*HEADER PAGE*/

	/*MAIN PAGE*/
	.panels {
		margin-left:8%;
		margin-right:8%;
	}

	.panels article{
		width:30%;
		max-width:400px;
		background-color:transparent;
	}

	.panels article span{
		font-size:1rem;
	}

	.section-header{
		/*margin-top: -35px;*/
		height: 16%;
	}

	.section-title{
		font-size:1.8rem;
	}

	.section-description{
		width:100%;
		font-size:1rem;
		font-weight: bold;
		margin-top:-5px;
	}


	/*FOOTER PAGE*/

}

/* RESOLUCION MAS DE 800px */
@media only screen and (min-width: 801px){

	/*HEADER PAGE*/
	web-header {
		min-height: 10vh;
	}

	header {
		/*width:100%;*/
		display:flex;
		align-items: center;
	}

	header .logo{
		width:120px;
		margin-right:-120px;
		z-index:10;

	}

	header .logo img {
		margin-left:1vw;
		margin-right:1vw;
		width:120px;
	}

	.intro{
		width:98%;
  	margin: 0 auto;
		z-index:5;
	}

	.section-header{
		/*margin-top: -55px;*/
		height: 17%;
	}

	.section-title{
		font-size:2rem;
	}

	.section-description{
		width:100%;
		font-size:1.1rem;
		font-weight: bold;
		margin-top:-5px;
	}

	.section-page{
		display:flex;
		flex-flow: row wrap;
	}

	.section-header{
		width:100%;
	}

	.section-main{
		width:79%;
		flex-grow:1;
		bottom:0;
	}

	.section-aside {
		width:19%;
		flex-grow:1;
		bottom:0;
		border-left: 2px solid black;
		border-top:0px;
	}

	web-main{
		min-height:83vh;
	}

	web-footer{
		min-height:7vh;
	}

}

/* RESOLUCION MAS DE 1024px */
@media only screen and (min-width: 1025px){

	/*MAIN PAGE*/
	.panels {
		margin-left:3%;
		margin-right:3.5%;
	}

	.panels article{
		width:23%;
		background-color:transparent;
	}

	.panels article span{
	}

	.section-header{
		/*margin-top:-35px;*/
	}
	/*FOOTER PAGE*/
}

/* RESOLUCION MAS DE 1280px */
@media only screen and (min-width: 1281px) {

	/*HEADER PAGE*/

	/*MAIN PAGE*/
	.panels {
		margin-left:2.5%;
		margin-right:3%;
	}

	.panels article{
		width:22.5%;
		background-color:transparent;
	}

	.panels article span{
	}

	/*FOOTER PAGE*/

}
