<form class="contact-form" name="contactForm" novalidate>
  <label> Asunto:
    <span class="messages">
      <span ng-class="{red: contactForm.subject.$error.required}"
            ng-hide="!contactForm.subject.$error.required">
            (El campo es obligatorio)
      </span>
      <span ng-class="{verde: !contactForm.subject.$error.required}"
            ng-show="!contactForm.subject.$error.required">
            Correcto.
      </span>
    </span>
  </label>
  <br />
  <input type="text"
         placeholder="Escribe un asunto"
         name="subject"
         ng-model="actionEmailSend.email.subject"
         required/>
  <br />

  <label> Email:
    <span class="messages">
      <span ng-class="{red: contactForm.remitente.$error.required}"
            ng-hide="!contactForm.remitente.$error.required">
            (El campo es obligatorio)
      </span>
      <span ng-class="{verde: !contactForm.remitente.$error.required}"
            ng-show="!contactForm.remitente.$error.required">
            Correcto.
      </span>
    </span>
  </label>
  <br />
  <input type="email"
         placeholder="Escribe tu email"
         name="remitente"
         ng-model="actionEmailSend.email.remitente"
         required/>
  <br />

  <label> Mensaje:
    <span class="messages">
      <span ng-class="{red: contactForm.message.$error.required}"
            ng-hide="!contactForm.message.$error.required">
            (El campo es obligatorio)
      </span>
      <span ng-class="{verde: !contactForm.message.$error.required}"
            ng-show="!contactForm.message.$error.required">
            Correcto.
      </span>
    </span>
  </label>
  <br />
  <textarea rows="8" cols="40"
            msd-elastic="\n"
            placeholder="Escribe el mensaje a enviar"
            name="message"
            ng-model="actionEmailSend.email.message"
            required>
  </textarea>
  <br />

  <input type="submit"
         ng-click="actionEmailSend.submit(contactForm)"
         value="Enviar consulta"/>
</form>
