<nav class="panels">
	<article class="panel panel-extraescolares" ui-sref="extraescolares" >
    <img src="images/extraescolares.png" />
    <h3 class="red">Actividades extraescolares</h3>
  </article>
	<article class="panel panel-boulder" ui-sref="boulder">
    <img src="images/boulder.jpg" />
    <h3 class="red">Sala boulder</h3>
  </article>
	<article class="panel panel-participacion" ui-sref="participacion">
    <img src="images/mapa.png" />
    <h3 class="red">Participación social</h3>
  </article>
	<article class="panel panel-salidas" ui-sref="salidas-populares">
		<img src="images/cultura-medio.png" />
		<h3 class="red">Salidas populares</h3>
	</article>
	<article class="panel panel-cultura-medio" ui-sref="cultura-medio">
		<img src="images/cultura-medio.png" />
		<h3 class="red">Cultura y medio ambiente</h3>
	</article>
	<article class="panel panel-biblioteca" ui-sref="biblioteca-mapas">
		<img src="images/mapa.png" />
		<h3 class="red">Biblioteca y mapa</h3>
	</article>
  <article class="panel panel-asociacion" ui-sref="asociacion">
    <img src="images/cultura-medio.png" />
    <h3 class="red">Asociación</h3>
  </article>
	<article class="panel panel-contacto" ui-sref="contacto">
		<img src="images/contacto.png" />
		<h3 class="red">Contacto</h3>
	</article>
</nav>
