<nav class="panels">
	<article class="panel panel-extraescolares" ui-sref="extraescolares" >
    <img src="images/extraescolares.png" />
    <span>Actividades extraescolares</span>
  </article>
	<article class="panel panel-boulder" ui-sref="boulder">
    <img src="images/boulder.jpg" />
    <span>Sala boulder</span>
  </article>
	<article class="panel panel-participacion" ui-sref="participacion">
    <img src="images/image.png" />
    <span>Participación social</span>
  </article>
	<article class="panel panel-salidas" ui-sref="salidas-populares">
		<img src="images/salidas.png" />
		<span>Salidas populares</span>
	</article>
	<article class="panel panel-cultura-medio" ui-sref="cultura-medio">
		<img src="images/cultura-medio.png" />
		<span>Cultura y medio ambiente</span>
	</article>
	<article class="panel panel-biblioteca" ui-sref="biblioteca-mapas">
		<img src="images/mapa.png" />
		<span>Biblioteca y mapa</span>
	</article>
  <article class="panel panel-asociacion" ui-sref="asociacion">
    <img src="images/image.png" />
    <span>Asociación y contacto</span>
  </article>
</nav>
