<nav>
	<article>
    <img src="images/image.png" />
    <span>Actividades extraescolares</span>
  </article>
	<article>
    <img src="images/image.png" />
    <span>Mercadillo 2ª mano</span>
  </article>
	<article>
    <img src="images/image.png" />
    <span>Sala búlder (estatutos)</span>
  </article>
	<article>
    <img src="images/image.png" />
    <span>Salida Noviembre</span>
  </article>
	<article>
    <img src="images/image.png" />
    <span>Cuotas</span>
  </article>
	<article>
    <img src="images/image.png" />
    <span>Próximas reuniones</span>
  </article>
	<article>
    <img src="images/image.png" />
    <span>Galería de fotos</span>
  </article>
	<article>
    <img src="images/image.png" />
    <span>Miscelánea</span>
  </article>
</nav>
