<section class="section-page">
  <header class="section-header">
    <h1 class="title section-title">Boulder asociación</h1>
    <p class="description section-description">Boulder asociación</p>
  </header>
  <main class="section-main">

    <article class="gallery" >
      <img src="images/bulder1.jpg" />
    </article>

    <article class="gallery" >
      <img src="images/bulder2.jpg" />
    </article>

    <article class="gallery" >
      <img src="images/bulder3.jpg" />
    </article>

    <article class="gallery" >
      <img src="images/bulder4.jpg" />
    </article>

    <article class="gallery" >
      <img src="images/bulder5.jpg" />
    </article>

    <article class="gallery" >
      <img src="images/bulder6.jpg" />
    </article>

    <article class="gallery" >
      <img src="images/bulder7.jpg" />
    </article>

    <article class="gallery" >
      <img src="images/bulder8.jpg" />
    </article>

    <article class="gallery" >
      <img src="images/bulder9.jpg" />
    </article>

    <article class="gallery" >
      <img src="images/bulder10.jpg" />
    </article>

  </main>
  <aside class="section-aside">

  </aside>
  <footer class="section-footer">
  </footer>
</section>
