<section class="section-page">
  <header class="section-header">
    <h1 class="title section-title red">Actividades extraescolares</h1>
    <p class="description section-description">
      Organizamos actividades extraescolares de escalada y montaña para el aprendizaje
      y diversión de los txikis.
    </p>
  </header>
  <main class="section-main">
    <div class="principal section-principal">

    </div>
    <aside class="section-aside">

    </aside>
  </main>
  <footer class="section-footer">
  </footer>
</section>
