<section class="section-page">
  <header class="section-header">
    <h1 class="title section-title red">Actividades extraescolares</h1>
    <p class="description section-description">
      Organizamos actividades extraescolares de escalada y montaña para el aprendizaje
      y diversión de los txikis.
    </p>
  </header>
  <main class="section-main">
    <h2 class="main-title">Temporada 2016-2017 (7º curso)</h2>
    <hr class="line1">
    <h3 class="main-apartado">Grupos</h3>
    <div class="main-content">
      <ul>
        <li>
          <span>A: 5 a 7 años</span>
        </li>
        <li>
          <span>B: 7 a 9 años</span>
        </li>
        <li>
          <span>C: 9 a 12 años</span>
        </li>
        <li>
          <span>D: 13 a 16 años</span>
        </li>
      </ul>
      - Los grupos se estableces por rangos de edades pero son orientativos.
    </div>
    <hr class="line2">
    <h3 class="main-apartado">Horarios</h3>
    <div class="main-content">
      <table class="horarios">
        <tr>
          <td></td> <td>Lunes</td> <td>Martes</td> <td>Miércoles</td> <td>Jueves</td> <td>Viernes</td>
        </tr>
        <tr>
          <td>Grupo A</td> <td>17:15 - 18:15</td> <td>17:15 - 18:15 *</td> <td></td> <td></td> <td></td>
        </tr>
        <tr>
          <td>Grupo B</td> <td>18:30 - 19:30</td> <td></td> <td></td> <td></td> <td></td>
        </tr>
        <tr>
          <td>Grupo C</td> <td></td> <td>18:30 - 19:30</td> <td></td> <td>18:30 - 19:30</td> <td>18:30 - 20:00 *</td>
        </tr>
        <tr>
          <td>Grupo D</td> <td></td> <td>19:30 - 20:30</td> <td></td> <td>19:30 - 20:30</td> <td></td>
        </tr>
      </table>
      * - Horarios alternativos para el mismo grupo de edad.
    </div>
  </main>
  <aside class="section-aside">
    <h4>Documentos</h4>
    <p>Carteles</p>
    <p>Hoja de inscripción</p>
  </aside>
  <footer class="section-footer">
  </footer>
</section>
