<section class="section-page">
  <header class="section-header">
    <h1 class="title section-title red">Actividades extraescolares</h1>
    <p class="description section-description">
      Organizamos actividades extraescolares de escalada y montaña para el aprendizaje
      y diversión de los txikis.
    </p>
  </header>
  <main class="section-main">
    <h2 class="main-title">Temporada 2016-2017 (7º curso)</h2>
    <hr>
    <h3 class="main-apartado">Grupos</h3>
    <div class="main-content">
      <ul>
        <li>
          <span>A: 5 a 6 años</span>
        </li>
        <li>
          <span>B: 6 a 7 años</span>
        </li>
        <li>
          <span>C: 8 a 9 años</span>
        </li>
        <li>
          <span>D: 10 a 12 años</span>
        </li>
        <li>
          <span>E: 13 a 16 años</span>
        </li>
      </ul>
    </div>
    <hr>
    <h3 class="main-apartado">Horarios</h3>

    <table class="horarios">

      <tr>
        <td></td>
        <td>Lunes</td>
        <td>Martes</td>
        <td>Miércoles</td>
        <td>Jueves</td>
        <td>Viernes</td>
      </tr>

      <tr>
        <td>Grupo A</td>
        <td></td>
        <td>17:30 - 18:30</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>Grupo B</td>
        <td>17:15 - 18:15</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>Grupo C</td>
        <td>18:30 - 19:30</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>Grupo D</td>
        <td></td>
        <td>18:30 - 19:30</td>
        <td></td>
        <td>19:30 - 20:30</td>
        <td></td>
      </tr>

      <tr>
        <td>Grupo E</td>
        <td></td>
        <td>18:30 - 19:30</td>
        <td></td>
        <td>18:30 - 19:30</td>
        <td></td>
      </tr>

    </table>
    <div class="main-content">
      <table>

      </table>
    </div>
  </main>
  <aside class="section-aside">
    <h4>Documentos</h4>
    <p>Carteles</p>
    <p>Hoja de inscripción</p>
  </aside>
  <footer class="section-footer">
  </footer>
</section>
