<section class="section-page">
  <header class="section-header">
    <h1 class="title section-title red">Contacto</h1>
    <p class="description section-description">Métodos de contacto</p>
  </header>
  <main class="section-main">
    <h3 class="main-apartado">Email</h3>
    <div class="main-content">
      <a href="mailto:otsogorrigainamenditaldea@gmail.com">otsogorrigainamenditaldea@gmail.com</a>
    </div>
    <hr class="line2">
    <h3 class="main-apartado">Teléfonos de contacto</h3>
    <div class="main-content">
      <ul>
        <li>
          <span>Jon Esteban</span> (presidente): 62651423
        </li>
        <li>
          <span>Nestor Martinez</span> (tesorero): 636619873
        </li>
      </ul>
    </div>
  </main>
  <footer class="section-footer">
  </footer>
</section>
